
@{
    ViewData["Title"] = "ExcelList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

﻿

<h1>ExcelList</h1>

<a href="/Excel/ProductWithCategoryExcelList/" class="btn btn-info">Excel Liste</a>
