@model MongoDbEgitim.Dtos.CategoryDtos.CreateCategoryDto
@{
    ViewData["Title"] = "CreateCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@* ﻿@model MongoDbProject.Dtos.CategoryDtos.CreateCategoryDto
 *@
<div class="container">
    <br />
    <br>
    <form method="post">
        <label>Kategori Adı</label>
        <input type="text" class="form-control" asp-for="CategoryName" />
        <br>
        <button class="btn btn-primary">Kategoriyi Oluştur</button>
    </form>
</div>
